body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin: 2px; 
}

h1 {
  background-color: lightgray;
}

footer {
  padding: 10px;
  color: #ff0000;
  border-radius: 3px;
  border: solid 1px #ccc;
  /* goes clockwise around top right bottom left */
  margin: 5px 10px 5px 0px;
  background-color: blanchedalmond;
}